<?php
session_start();
$error = FALSE;
$success = FALSE;
if (isset($_POST)) {
    require_once '../autoloader.php';

    if (isset($_POST['msisdn']) && isset($_POST['password'])) {
        $response = User::login($_POST['msisdn'], $_POST['password']);

        if (isset($response["success"]) && $response["success"]) {
            $page = isset($_GET['page']) ? $_GET['page'] : 'menu';
            header("Location: ./$page.php");
            die;
        } else {
            $error = $response["message"];
        }
    }
}
?>


<!DOCTYPE HTML>
<html>
    <head>
        <title><?php echo Config::systemName; ?></title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/app.0.1.min.css" />
        <link rel="shortcut icon" href="images/favicon.png">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row page">
                <section class="sect-full">
                    <section class="main">
                        <div class="brand">
                            <img class="" src="images/logo-portrait.png" />
                        </div>

                        <div class="login">



                            <h3>Login</h3>
                            <form class="padding-top-md" method="POST" action="#">
                                <div class="form-group">
                                    <?php if ($error) { ?>
                                        <div class="alert alert-block alert-danger fade in">
                                            <button data-dismiss="alert" class="close close-sm" type="button">
                                                <i class="fa fa-times"></i>
                                            </button><?php echo $error; ?>
                                        </div>
                                    <?php } ?>

                                    <?php if ($success) { ?>
                                        <div class="alert alert-block alert-success fade in">
                                            <button data-dismiss="alert" class="close close-sm" type="button">
                                                <i class="fa fa-times"></i>
                                            </button><?php echo $success; ?>
                                        </div>              
                                    <?php } ?>
                                </div>
                                <div class="form-group">
                                    <label class="full-width">Mobile Number
                                        <input class="form-control" placeholder="Mobile Number" type="text" name="msisdn" required="1"/>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="full-width">Password
                                        <input class="form-control" placeholder="Password" type="password" name="password" required="1">
                                    </label>
                                </div>
                                <div class="form-group padding-top-md">
                                    <button type="submit" class="btn bg-accent btn-lg btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </section>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </body>
</html>
